/* -----------------------------------------------------------------
font-family: 'robotoblack';
----------------------------------------------------------------- */

@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotoitalic';
	src: url('../fonts/roboto-regularitalic-webfont.woff2') format('woff2'), url('../fonts/roboto-regularitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotomedium';
	src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotomedium_italic';
	src: url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotobold';
	src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'), url('../fonts/roboto-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotobold_italic';
	src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'), url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotoblack';
	src: url('../fonts/roboto-black-webfont.woff2') format('woff2'), url('../fonts/roboto-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotoblack_italic';
	src: url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'), url('../fonts/roboto-blackitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotolight';
	src: url('../fonts/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotolight_italic';
	src: url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'), url('../fonts/roboto-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotothin';
	src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'), url('../fonts/roboto-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotothin_italic';
	src: url('../fonts/roboto-thinitalic-webfont.woff2') format('woff2'), url('../fonts/roboto-thinitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* -----------------------------------------------------------------
font-family: 'playfair_displayblack';
----------------------------------------------------------------- */

@font-face {
	font-family: 'playfair_displayregular';
	src: url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'playfair_displayitalic';
	src: url('../fonts/playfairdisplay-regularitalic-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-regularitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'playfair_displaybold';
	src: url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'playfair_displaybold_italic';
	src: url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'playfair_displayblack';
	src: url('../fonts/playfairdisplay-black-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'playfair_displayblack_italic';
	src: url('../fonts/playfairdisplay-blackitalic-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-blackitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* -----------------------------------------------------------------
font-family: 'questrialregular';
----------------------------------------------------------------- */

@font-face {
	font-family: 'questrialregular';
	src: url('../fonts/questrial-regular-webfont.woff2') format('woff2'), url('../fonts/questrial-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* -----------------------------------------------------------------
font-family: 'oswaldregular';
----------------------------------------------------------------- */

@font-face {
	font-family: 'oswald_regularregular';
	src: url('../fonts/oswald-regular-webfont.woff2') format('woff2'), url('../fonts/oswald-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldregular';
	src: url('../fonts/oswald-regularitalic-webfont.woff2') format('woff2'), url('../fonts/oswald-regularitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldmedium';
	src: url('../fonts/oswald-medium-webfont.woff2') format('woff2'), url('../fonts/oswald-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*
 @font-face {
	font-family: 'oswaldmedium';
	src: url('../fonts/oswald-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/oswald-mediumitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*/

@font-face {
	font-family: 'oswaldbold';
	src: url('../fonts/oswald-bold-webfont.woff2') format('woff2'), url('../fonts/oswald-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldbold';
	src: url('../fonts/oswald-bolditalic-webfont.woff2') format('woff2'), url('../fonts/oswald-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswalddemibold';
	src: url('../fonts/oswald-demibold-webfont.woff2') format('woff2'), url('../fonts/oswald-demibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswalddemi-bold';
	src: url('../fonts/oswald-demi-bolditalic-webfont.woff2') format('woff2'), url('../fonts/oswald-demi-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldextralight';
	src: url('../fonts/oswald-extralight-webfont.woff2') format('woff2'), url('../fonts/oswald-extralight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldextra-light';
	src: url('../fonts/oswald-extra-lightitalic-webfont.woff2') format('woff2'), url('../fonts/oswald-extra-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldheavy';
	src: url('../fonts/oswald-heavy-webfont.woff2') format('woff2'), url('../fonts/oswald-heavy-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldheavy';
	src: url('../fonts/oswald-heavyitalic-webfont.woff2') format('woff2'), url('../fonts/oswald-heavyitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldlight';
	src: url('../fonts/oswald-light-webfont.woff2') format('woff2'), url('../fonts/oswald-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldlight';
	src: url('../fonts/oswald-lightitalic-webfont.woff2') format('woff2'), url('../fonts/oswald-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswald_stencilbold';
	src: url('../fonts/oswald-stencil-webfont.woff2') format('woff2'), url('../fonts/oswald-stencil-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}